:root {
    --slide-colors: #FF0000;
    --text-color:#FFFFFF;
    --background-color: #EEEEEE;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
}

.slide {
    background-color: var(--slide-colors);
    width: 60%;
    height: 500px;
    color: var(--text-color);
    margin: 60px;
    padding: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: var(--slide-colors);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 0px 10px;
}

.nav a{
    padding: 10px;
}